<footer>
    <address>
        Telefon: <a href = "tel:+407123456789">+40 712 345 6789</a><br>
        Adresa: <a href = "https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica,+Bucuresti,+România" target = "_blank">FMI</a><br>
        Email: <a href = "mailto:exemplu@fmi.ro">exemplu@fmi.ro</a><br>
        <a href="https://wa.me/407123456789" target = "_blank">WhatsApp</a>
    </address>
    <a href = "/resources/img/icon2.png" download = "ceva.png">Download imagine</a><br>
    <a href = "https://www.google.com" target = "_blank">Google</a><br>
    <iframe
            src="https://www.google.com/maps/embed/v1/place?q=Faculty+of+Mathematics+and+Computer&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
            width="600"
            height="450"
            style="border:0;"
            allowfullscreen=""
            loading="lazy">
    </iframe>
    <small>
        &copy;<time datetime="2025-02-24">2025</time>
    </small>
    <a href="#" title="Link top" id="link-top">
        <div id="arrow">↓</div>
    </a>
</footer>