<header>
    <div class = "roboto-condensed-special">
        <h1>Gaming & Hardware</h1>
    </div>
    <nav>
        <label id="hamburger" for="ch-menu">
            <div class = "burger-lines">
                <span class = "line1"></span>
                <span class = "line2"></span>
                <span class = "line3"></span>
            </div>
        </label>
        <input id="ch-menu" type="checkbox">
        <ul>
            <li class="home-icon">
                <a href="#">
                    <i class="fa-solid fa-house"></i>
                    <span class="home-text">Home</span>
                </a>
            </li>
            <li>
                <a href = "#grid-initial">Jocuri & DLC-uri</a>
                <ul>
                    <li><a href = "#jocuri">Jocuri</a></li>
                    <li><a href = "#dlc">DLC-uri</a></li>
                </ul>
            </li>
            <li>
                <a href = "#hardware">Hardware & Accesorii</a>
                <ul>
                    <li><a href = "#tastaturi">Tastaturi</a></li>
                    <li><a href = "#mouse">Mouse-uri</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>